@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

:root{
  --main-color: rgb(2, 180, 2);
  --error: red;
}
*{
  padding: 0;
  margin: 0;
  font-family: 'Roboto', sans-serif;
}
header{
  padding: 20px;
  text-align: center;
  background-color: var(--main-color);
  font-size: 24px;
  color: white;
}
.start-container{
  top: 10%;
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.start-container img{
  aspect-ratio: 16/9;
  height: unset !important;
}
.start-container button{
  width: 150px;
  padding: 8px;
  color: white;
  background-color: var(--main-color);
  border: none;
  font-size: 20px;
  display: block;
  margin: 0 auto;
  border-radius: 8px;
  cursor: pointer;
}
.quiz-container{
  height: 80vh;
  width: 60%;
  max-width: 325px;
  margin: 0 auto;
  text-align: center;
}
.number-container{
  padding: 12px 0;
}
.current-question-number{
  font-size: 32px;
  color: var(--main-color);
}
.total-question-number{
  font-size: 20px;
}
.quiz-container img{
  height: 50vh;
  width: 100%;
  object-fit: cover;
  object-position: top;
}
.quiz-list{
  padding-top: 20px;
  list-style-type: none;
  display: grid;
  grid-template-columns: repeat(2,45%);
  justify-content: space-between;
  gap: 20px;
}
.quiz-list li{
  border: 2px solid black;
  padding: 12px;
  border-radius: 8px;
  font-size: 18px;
  cursor: pointer;
}
.error{
  color: white;
  background-color: red;
}
.answer,li[data-class="answer"]{
  color: white;
  background-color: var(--main-color);
}
.results{
  height: 80vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.results .score{
  display: block;
  color: var(--main-color);
  font-weight: bold;
  font-size: 30px;
  margin: 20px 0;
}
.results p{
  font-size: 20px;
}
.results svg{
  height: 60px;
  width: 60px;
  margin-top: 20px;
  cursor: pointer;
  fill: var(--main-color);
}
.results button{
  background-color: white;
  border: none;
}
@media (max-width:580px) {
  .quiz-container{
    width: 85%;
  }
  .quiz-list{
    grid-template-columns: repeat(1,100%);
  }
}